.loading-spinner {
    text-align: center;
    position: relative;
    top: 50%
  }
  
  .loading-spinner__spinner {
    display: inline-block;
    border-radius: 70%;
    width: 50rem;
    height: 50rem;
    vertical-align: text-bottom;
    border-style: solid;
    border-right-color: transparent;
    animation: loading-spinner 1.2s linear infinite;
  }
  
  @keyframes loading-spinner {
    0% {
      transform: rotate(0deg) translateZ(0);
    }
    100% {
      transform: rotate(360deg) translateZ(0);
    }
  }